.input {
    text-align: right;
}

table {
    width: 100%;
}

td {
    padding: 0px 20px;
}

th {
    text-align: center;
}

tr {
    border-top: 1px solid #27a557;
    border-bottom: 1px solid #27a557;
}