<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- css -->
    <link href="css/estilos.css" rel="stylesheet" type="text/css" medial="all">
</head>

<body>
    <marquee>
        <h1>Ola, Mundo em Spring!!!</h1>
    </marquee>
    <hr>
    <div>
        <figure>
            <img src="img/espaço.jpg" alt="imagem do espaço">
        </figure>
    </div>
    <script src="js/script.js"></script>
</body>

</html>